/* === COMMON STYLES === */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
input,
button {
  outline: none;
}
a:focus,
input:focus,
button:focus {
  outline: none;
}

a {
  color: #23a86d;
}
a:hover,
a:focus {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}

td {
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html *,
html ::after,
html ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0;
  margin-bottom: 34px; 
  text-transform: uppercase;
}
h1::after {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  margin: 4px 0 0 10px;
  content: '';
  background-color: #23a86d;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 21px 0;
  color: #23a86d;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  color: #636363; 
  background-color: #636363;
}

.secondary-title--decorated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center; 
  -ms-flex-align: center;
}
.secondary-title--decorated::after {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  margin: 4px 0 0 10px;
  content: '';
  background-color: #23a86d;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: inline-block;
  width: 160px;
  padding: 10px 0;
  cursor: pointer; 
  -webkit-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 6px;
  background: #636363;
  -webkit-box-shadow: 0 5px 0 0 #3f3f3f;
          box-shadow: 0 5px 0 0 #3f3f3f;
}
.button:hover,
.button:focus {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--primary {
  border: 1px solid #23a86d; 
  background-color: #23a86d;
  -webkit-box-shadow: 0 5px 0 0 #136e45;
          box-shadow: 0 5px 0 0 #136e45;
}

.button--secondary {
  border: 1px solid #dc513a; 
  background-color: #dc513a;
  -webkit-box-shadow: 0 5px 0 0 #9e3b2a;
          box-shadow: 0 5px 0 0 #9e3b2a;
}

.text-normal {
  text-transform: none;
}

.text-block {
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: .02em; 
  word-wrap: break-word;
}
.text-block + .text-block {
  margin-top: 38px;
}

.text-block__img {
  float: left;
  width: 170px;
  margin: 18px 10px 22px -35px; 
  text-align: center;
}

.text-block__list {
  margin: 0;
  padding: 0 0 0 16px; 
  list-style-type: none;
}
.text-block__list li {
  position: relative;
  padding-left: 9px;
}
.text-block__list li::before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 3px;
  content: '';
  border-radius: 50%;
  background-color: #23a86d;
}

.text--primary {
  color: #23a86d;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #fafafa;
}

/* === MAIN PAGE STYLES === */
.header__content {
  padding: 32px 0 10px 0;
}

.logo {
  text-align: center;
}

.logo__link {
  display: inline-block;
}

.main-nav {
  background-color: #23a86d;
}

.main-nav__container {
  padding-right: 44px; 
  padding-left: 44px;
  background-color: transparent;
}

.main-nav__list {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0; 
  padding: 0;
  list-style-type: none;
}

.main-nav__item {
  position: relative;
}
.main-nav__item:not(:last-child) {
  margin-right: 28px;
}

.main-nav__link {
  position: relative; 
  display: inline-block;
  padding: 20px 15px 16px 15px;
  text-decoration: none;
  color: #fafafa;
}
.main-nav__link::before,
.main-nav__link::after {
  position: absolute;
  z-index: 200;
  left: 50%;
  width: 0;
  height: 9px;
  content: '';
  -webkit-transition: width .3s ease;
       -o-transition: width .3s ease;
          transition: width .3s ease; 
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-nav__link::before {
  top: -4px;
  background: url('../img/nav_arrow_top.png') left 50% top 5px no-repeat, url('../img/nav_line_top.png') 0 0 repeat-x;
}
.main-nav__link::after {
  bottom: -5px;
  background: url('../img/nav_arrow_bottom.png') left 50% top 0 no-repeat, url('../img/nav_line_bottom.png') left 0 bottom 0 repeat-x;
}
.main-nav__link:hover::before,
.main-nav__link:hover::after,
.main-nav__link:focus::before,
.main-nav__link:focus::after {
  width: 100%;
}

.main-nav__active .main-nav__link::before,
.main-nav__active .main-nav__link::after {
  width: 100%;
}

.main-nav__mobile-button {
  display: none;
}

.about__content {
  padding: 43px 0 38px 0;
}

.about__title {
  margin-bottom: 33px;
}

.bonus-table {
  width: 100%; 
  border-collapse: collapse;
}
.bonus-table td {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 96px;
  border-top: 1px solid #636363;
  border-bottom: 1px solid #636363;
}

.bonus-table__number {
  width: 60px;
  padding: 0 21px 0 3px;
}

.bonus-table__number-value {
  font-size: 25px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; 
  width: 100%;
  height: 60px;
  text-align: center;
  background: url('../img/table_number.svg') no-repeat;
}

.bonus-table__logo {
  width: 155px;
  height: 80px;
  margin-left: 21px;
}

.bonus-table__logo-link {
  display: inline-block;
}

.bonus-table__bonus-size {
  font-size: 16px;
  font-weight: 700;
  text-align: center; 
  text-transform: uppercase;
}

.bonus-value {
  font-size: 20px;
  color: #23a86d;
}

.bonus-table__link {
  text-align: center;
}
.bonus-table__link a {
  color: #dc513a;
}

.bonus-table__group {
  width: 380px;
}

.bonus-table__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center; 
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.bonus-table__rating {
  width: 125px; 
  padding-right: 38px;
  padding-left: 38px;
}
.bonus-table__rating .rating {
  width: 100%;
  height: 27px;
  background: url('../img/stars_shadow_empty.png') 0 0 no-repeat;
}
.bonus-table__rating .rating__actual {
  background: url('../img/stars_shadow_full.png') 0 0 no-repeat; 
  background-size: auto 27px;
}

.bonus-table__button {
  width: 160px;
  padding-right: 11px;
}

.rating {
  position: relative; 
  width: 160px;
  height: 31px;
  text-align: left;
  background: url('../img/stars_empty.svg') 0 0 no-repeat;
  background-size: contain;
}

.rating__actual {
  position: absolute;
  height: 100%;
  text-align: left;
  background: url('../img/stars_full.svg') 0 0 no-repeat;
}

.subscribe-caption {
  padding-top: 58px;
  padding-bottom: 56px;
}

.subscribe__content {
  background-color: #23a86d;
}
.subscribe__content .container {
  background-color: transparent;
}

.subscribe-form {
  min-height: 160px;
  padding: 49px 11px 0 65px;
}

.subscribe-form__input {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 44px;
  padding-left: 68px;
  -webkit-transition: -webkit-box-shadow .3s ease;
       -o-transition:         box-shadow .3s ease;
          transition: -webkit-box-shadow .3s ease;
          transition:         box-shadow .3s ease;
          transition:         box-shadow .3s ease, -webkit-box-shadow .3s ease; 
  color: #636363;
  border: none;
  border-radius: 6px;
}
.subscribe-form__input:focus {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .65);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, .65);
}

.name-label,
.email-label {
  position: absolute;
  top: 50%;
  left: 0;
  height: 36px;
  margin-top: -18px;
  border-right: 2px solid #23a86d;
}
.name-label::before,
.email-label::before {
  display: block; 
  height: 100%;
  content: '';
}

.name-label::before {
  width: 49px;
  background: url('../img/name_label_icon.svg') 50% 50% no-repeat;
}

.email-label::before {
  width: 52px;
  background: url('../img/email_label_icon.svg') 50% 50% no-repeat;
}

.subscribe-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start; 
  -ms-flex-align: start;
}

.subscribe-form__block {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  max-width: 300px;
}

.subscribe-form__block + .subscribe-form__block {
  margin-left: 52px;
}

.subscribe-form__field {
  position: relative;
}

.subscribe-form__checkbox {
  font-size: 12px;
  margin-top: 28px; 
  padding-left: 2px;
  color: #fff;
}
.subscribe-form__checkbox input[type='checkbox'] {
  width: 13px;
  height: 13px;
  margin-right: 7px;
  -webkit-transition: -webkit-box-shadow .3s ease;
       -o-transition:         box-shadow .3s ease;
          transition: -webkit-box-shadow .3s ease;
          transition:         box-shadow .3s ease;
          transition:         box-shadow .3s ease, -webkit-box-shadow .3s ease; 
  vertical-align: middle;
}
.subscribe-form__checkbox input[type='checkbox']:focus {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .45);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, .45);
}

.checkbox-label {
  line-height: 14px;
  vertical-align: middle;
  white-space: nowrap;
}

.subscribe-form__link {
  color: #fff;
}

.subscribe-form__button {
  margin-top: 2px;
  margin-left: auto;
}

.free-games__content {
  padding-top: 31px;
  padding-bottom: 86px;
}

.free-games__title {
  margin-bottom: 72px;
}

.games-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
  margin: 0;
  padding: 0 23px;
  list-style-type: none;
}

.free-games__list {
  margin-bottom: 21px;
}

.games-list__item {
  -ms-flex-preferred-size: 33.333333%;
  flex-basis: 33.333333%;
  max-width: 33.333333%;
  margin-bottom: 41px; 
  text-align: center;
}

.games-list__img {
  margin-bottom: 10px;
}
.games-list__img img {
  border-radius: 50%;
}

.games-list__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.games-list__button {
  height: 49px;
}

.rules__content {
  padding-bottom: 29px;
}

.rules__title {
  margin-bottom: 47px;
}

.strategy .text-block__img {
  margin-top: -2px;
  margin-right: 0;
}

.strategy__content {
  padding-bottom: 143px;
}

.strategy__title {
  margin-bottom: 27px;
}

footer {
  padding: 49px 0 30px 0;
  text-align: center; 
  background-color: #23a86d;
}
footer .container {
  background-color: transparent;
}

.footer-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 13px 0;
  padding-left: 0;
  list-style-type: none;
}

.footer-nav__item:not(:last-child)::after {
  display: inline-block;
  width: 1px;
  height: 16px;
  margin: -2px 9px 0 6px; 
  content: '';
  vertical-align: middle;
  background-color: #fff;
}

.footer-nav__link {
  font-size: 13px;
  color: #fff;
}

.copyright {
  margin: 0;
}

.copyright__link {
  font-size: 13px;
  text-decoration: none; 
  color: #fff;
}
.copyright__link:hover {
  text-decoration: underline;
}

/* === INNER PAGES === */
.inner-page {
  padding-top: 39px;
  padding-bottom: 45px;
}

/* === CASINO PAGE === */
.casino {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 64px;
}

.casino__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 48px;
}

.casino__logo {
  max-width: 174px;
  margin-bottom: 16px;
  margin-left: 34px;
}

.casino__screen {
  max-width: 301px;
}

.casino__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 100%;
  padding: 65px 74px 0 0;
}

.casino__description {
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  max-width: 100%;
  margin-bottom: 42px; 
  padding-left: 5px;
}

.casino__bonus {
  max-width: 100%; 
  margin-bottom: 79px;
}

.bonus {
  font-size: 17px;
  font-weight: 700; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  -ms-flex-align: baseline;
}

.bonus__text {
  width: 100%;
  color: #d25f5c;
}

.bonus__title {
  text-transform: uppercase; 
  color: #666;
}
.bonus__title::before {
  position: relative;
  bottom: 2px;
  display: inline-block;
  width: 23px;
  height: 21px;
  margin-right: 7px;
  content: '';
  vertical-align: top;
  background: url('../img/bonus_icon.svg') no-repeat;
}

.casino__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.casino__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;
  margin-top: 4px;
}
.casino__rating .rating {
  margin-bottom: 3px;
}

.rating-title {
  margin-right: 4px;
}

.casino__button--small {
  font-size: 22px;
  line-height: 24px;
  width: 220px;
  padding: 15px 0;
}

.casino-details__title {
  margin-bottom: 52px;
}

.casino-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 67px; 
  padding: 0 20px;
  list-style-type: none;
}

.casino-advantages__item {
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
  max-width: 22%;
  text-align: center;
}

.casino-advantages__icon {
  margin-bottom: 14px;
}

.casino-advantages__text {
  font-size: 16px;
  line-height: 20px;
}

.casino-details__button {
  margin-top: 42px;
  text-align: center;
}

.casino__button--big {
  font-size: 22px;
  line-height: 24px;
  width: 340px;
  padding: 15px 0;
}

/* === ARTICLE PAGE === */
.article {
  padding-top: 17px;
  padding-bottom: 58px;
}

.article-content {
  margin-bottom: 41px;
}

.article__main-img {
  float: left;
  margin: -31px 22px 0 0;
}

.article__img {
  float: left;
  width: 108px;
  margin: 8px 13px 10px 25px; 
  text-align: left;
}

.article-table {
  width: 100%;
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
}
.article-table td {
  padding: 5px 0;
}
.article-table td:first-child {
  width: 100px;
  padding-left: 31px; 
  text-align: left;
}
.article-table td:last-child {
  width: 140px;
  padding-right: 21px; 
  text-align: right;
}

.article-table__head {
  color: #fff; 
  background-color: #23a86d;
}
.article-table__head td {
  text-align: center;
}

.article-table__body td:last-child {
  text-align: right;
}

.article-table__body tr:nth-child(even) {
  background-color: #ccc;
}

.article-table__body tr:nth-child(odd) td {
  padding-top: 6px;
  padding-bottom: 6px;
}

.article-table__body span {
  display: block;
  margin-left: 40%;
}

.article__bonus-table {
  margin: 40px 0 50px 0;
}

/* === BONUS PAGE === */
.bonus-page__table {
  position: relative;
  margin-bottom: 80px;
}
.bonus-page__table::before,
.bonus-page__table::after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 60px;
  content: '';
  background-color: #23a86d;
}
.bonus-page__table::before {
  left: -50px;
}
.bonus-page__table::after {
  right: -50px;
}
.bonus-page__table .bonus-table__body tr:first-child > td {
  border-top: none;
}
.bonus-page__table td {
  height: 97px;
  text-align: center;
}
.bonus-page__table td:first-child {
  padding-right: 11px; 
  padding-left: 3px;
}
.bonus-page__table .bonus-table__button {
  width: 100px;
  padding: 0;
}
.bonus-page__table .bonus-table__button .button {
  width: 100px;
}

.bonus-table__head {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #fff; 
  background-color: #23a86d;
}
.bonus-table__head td {
  height: 60px;
  text-align: center;
  border: none;
}

.bonus-table__bonus-percent {
  font-size: 20px;
  font-weight: 700;
}

.bonus-table__bonus-retirable {
  font-weight: 700;
}

.bonus-table__bonus-condition {
  line-height: 17px;
  width: 85px;
}

.bonus-table__free {
  font-size: 14px;
  line-height: 16px;
  text-transform: none; 
  color: #23a86d;
}

.bonus-page__text {
  margin-top: -11px;
  margin-bottom: 28px;
}

/* === FREE GAMES PAGE === */
.free-games-page__list {
  margin-bottom: 60px;
}
.free-games-page__list .games-list__button .button {
  width: 180px;
}

.free-games-page__text {
  margin-bottom: 82px;
}

.free-games-page__img {
  float: left;
  margin: 6px 25px 20px -16px;
}

.free-games-page__strategy {
  margin-bottom: 38px;
}
.free-games-page__strategy .strategy__content {
  padding-bottom: 0;
}
.free-games-page__strategy .free-games-page__img {
  margin: -2px 25px 0 0;
}

/* === STRATEGIES PAAGE === */
.strategies__text {
  margin-bottom: 41px;
}

.strategies-list {
  max-width: 840px;
  margin: 0 0 91px 0; 
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.strategies__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; 
  padding: 12px 0;
}
.strategies__item:not(:last-child) {
  border-bottom: 1px solid #23a86d;
}

.strategies__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 209px;
      flex: 0 0 209px;
  width: 209px;
  text-align: center;
}

.strategies__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #23a86d;
}

.strategies__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 590px;
      flex: 0 1 590px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column; 
  max-width: 590px;
  padding-top: 0;
  text-align: right;
}

.strategies__description {
  margin-bottom: 0; 
  text-align: left;
}

.strategies__button {
  margin-bottom: 7px; 
  margin-left: auto;
}

/* === GUIDE PAGE === */
.guide__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 840px;
  margin-right: auto;
  margin-bottom: 23px; 
  margin-left: auto;
  padding-top: 18px;
}

.guide__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end; 
  -ms-flex-align: end;
}
.guide__rating .rating {
  margin-bottom: 3px;
}

.guide__about-text {
  margin-bottom: 52px;
}

.guide__bonus-list {
  margin-bottom: 55px;
}

.guide__text-list {
  line-height: 25px;
  margin-top: 2px;
  padding-left: 36px; 
  color: #23a86d;
}
.guide__text-list li {
  padding-left: 12px;
}
.guide__text-list li::before {
  top: 11px;
}

.software-images__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; 
  margin: 0 0 56px 0;
  padding: 41px 0 0 0;
  list-style-type: none;
}

.software-images__item {
  -ms-flex-preferred-size: 33.333333%;
  flex-basis: 33.333333%;
  max-width: 250px;
}

.guide__free-games {
  margin-bottom: 19px;
}

/* === GAME PAGE === */
.game-page__title::after {
  display: none;
}

.game-page__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;
  margin-bottom: 25px;
}
.game-page__rating .rating {
  margin-bottom: 3px;
}

.game-page__frame {
  position: relative; 
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.game-page__temporary-placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a1a1a1;
}

.game-page__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 50px; 
  padding: 0 45px;
  background-color: #23a86d;
}

.game-page__casino-logo img {
  width: auto; 
  height: 60px;
}

.game-page__bonus-text {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-align: center; 
  color: #fff;
}

.game-page__button {
  margin-top: -4px;
}
.game-page__button .button {
  font-size: 22px; 
  width: 280px;
}

/* === RESPONSIVE STYLES === */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1055px;
  }
}

@media (max-width: 1199px) {
  body {
    background-color: #fafafa;
  }
  .main-nav__item:not(:last-child) {
    margin-right: 25px;
  }
  .main-nav__link {
    padding-right: 10px; 
    padding-left: 10px;
  }
  .subscribe-form__block {
    max-width: 250px;
  }
  .subscribe-form__checkbox {
    margin-top: 15px;
  }
  .checkbox-label {
    white-space: normal;
  }
  .casino__options {
    -webkit-box-align: start;
    align-items: flex-start; 
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .casino__rating {
    margin-bottom: 20px;
  }
  .bonus-table__group {
    width: 330px;
  }
  .bonus-table__rating {
    padding: 0 20px;
  }
  .bonus-table__number {
    padding: 0 10px;
  }
}

@media (max-width: 991px) {
  .container {
    padding-right: 15px; 
    padding-left: 15px;
  }
  h1 {
    display: block;
  }
  h1::after {
    display: none;
  }
  .secondary-title--decorated {
    display: block;
  }
  .secondary-title--decorated::after {
    display: none;
  }
  .main-nav__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: -2px;
  }
  .main-nav__link {
    margin-bottom: 2px; 
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-nav__link::before {
    top: 0;
  }
  .main-nav__link::after {
    bottom: 0;
  }
  .subscribe-form {
    padding: 50px 10px 30px 10px;
  }
  .subscribe-form__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .subscribe-form__block {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
    max-width: 47%;
  }
  .subscribe-form__button {
    margin-right: auto; 
    padding-top: 20px;
  }
  .subscribe-form__block + .subscribe-form__block {
    margin-left: 0;
  }
  .casino__content {
    padding-right: 0;
  }
  .casino__rating {
    -webkit-box-align: start;
    align-items: flex-start; 
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .casino__rating .rating-title {
    margin-bottom: 10px;
  }
  .software-images__item {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
  .bonus-table tbody td {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .bonus-table__number {
    width: 45px; 
    padding-right: 20px;
    padding-left: 0;
  }
  .bonus-table__number-value {
    font-size: 20px; 
    height: 45px;
    background-size: contain;
  }
  .bonus-table__group {
    width: auto;
  }
  .bonus-table__options {
    -webkit-box-align: center;
    align-items: center; 
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .bonus-table__rating {
    margin-bottom: 10px; 
    padding: 0;
  }
  .bonus-table__button {
    width: 125px;
    padding-right: 0;
  }
  .bonus-table__button .button {
    width: 125px;
  }
  .bonus-page__table .bonus-table__logo {
    width: 100px;
  }
  .bonus-page__table .bonus-table__bonus-size {
    padding: 0 5px;
  }
  .bonus-table__head {
    font-size: 14px;
  }
  .bonus-table__link {
    line-height: 1.2;
  }
  .bonus-table__free {
    margin-top: 5px;
  }
  .bonus-table__bonus-size {
    line-height: 1.1;
  }
  .strategies__description {
    margin-bottom: 10px;
  }
  .game-page__options {
    padding: 0 20px;
  }
  .game-page__bonus-text {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  .button:hover,
  .button:focus {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .lock-screen {
    position: relative;
    overflow: hidden; 
    height: 100%;
  }
  .main-nav {
    height: 60px;
  }
  .main-nav__mobile-button {
    display: block;
    width: 50px;
    margin: 17px 0; 
    border: none;
    background: none;
  }
  .main-nav__mobile-button span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  .main-nav__mobile-button span:not(:last-child) {
    margin-bottom: 7px;
  }
  .main-nav__block {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
  }
  .main-nav__list {
    position: absolute;
    top: 0;
    left: -220px;
    display: block;
    width: 220px;
    height: 100%;
    padding-top: 30px; 
    background-color: #23a86d;
  }
  .main-nav__item {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
  .main-nav__link {
    width: 100%;
    margin-bottom: 0;
    padding: 10px 0 10px 25px;
  }
  .main-nav__link::before,
  .main-nav__link::after {
    display: none;
  }
  .games-list__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .bonus-page__table::before,
  .bonus-page__table::after {
    display: none;
  }
  .guide__about {
    -webkit-box-align: start;
    align-items: flex-start; 
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .guide__logo {
    margin-bottom: 10px;
  }
  .casino {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .casino__images {
    width: 100%;
    text-align: center;
  }
  .casino__bonus {
    margin-bottom: 25px;
  }
  .casino-advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .casino-advantages__item {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    max-width: 45%;
    margin-bottom: 30px;
  }
  .casino__content {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; 
    text-align: center;
  }
  .casino__options {
    -webkit-box-align: center;
    align-items: center; 
    -ms-flex-align: center;
  }
  .casino__rating {
    text-align: center;
  }
  .casino__rating .rating-title {
    width: 100%;
  }
  .strategy__content {
    padding-bottom: 50px;
  }
  .bonus-table__number {
    display: none;
  }
  .bonus-table__rating {
    display: none;
  }
  .bonus-table__button {
    width: auto;
  }
  .bonus-table__button .button {
    width: auto;
    padding: 10px 15px;
  }
  .bonus-page__table .bonus-table td:nth-child(1),
  .bonus-page__table .bonus-table td:nth-child(4),
  .bonus-page__table .bonus-table td:nth-child(5),
  .bonus-page__table .bonus-table td:nth-child(6) {
    display: none;
  }
  .game-page__casino-logo {
    display: none;
  }
  .game-page__bonus-text {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    padding-right: 30px;
  }
  .game-page__button {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .game-page__button .button {
    width: 100%;
  }
  .game-page__frame {
    height: 400px;
  }
  .main-nav__active .main-nav__link {
    background-color: #dc513a;
  }
}

@media (max-width: 575px) {
  .hidden-mobile {
    display: none;
    color: inherit;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 18px;
    line-height: 1.3;
  }
  .table-responsive {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
  .table-responsive table {
    width: 600px;
  }
  .header__content {
    padding: 10px 0;
  }
  .logo__img {
    max-width: 250px;
  }
  .about__content {
    padding: 40px 0;
  }
  .about__title {
    margin-bottom: 25px;
  }
  .bonus-table__logo {
    width: 120px;
  }
  .subscribe-caption {
    padding: 40px 0 25px 0;
  }
  .subscribe-form {
    padding-right: 0; 
    padding-left: 0;
  }
  .subscribe-form__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .subscribe-form__block {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100%;
    max-width: none;
    margin-bottom: 15px;
  }
  .subscribe-form__button {
    padding-top: 10px;
  }
  .name-label::before,
  .email-label::before {
    width: 50px;
  }
  .free-games__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .free-games__title {
    margin-bottom: 25px;
  }
  .games-list__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: none;
  }
  .rules__title {
    margin-bottom: 25px;
  }
  .text-block__img,
  .strategy .text-block__img {
    width: auto;
    margin: 0 20px 10px 0;
  }
  footer {
    padding: 30px 0;
  }
  .strategies__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .strategies__icon,
  .strategies__content {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100%; 
    max-width: none;
  }
  .strategies__icon {
    margin-bottom: 20px;
  }
  .strategies__button {
    margin-right: auto;
  }
  .strategies__description {
    margin-bottom: 15px;
  }
  .strategies-list {
    margin-bottom: 0;
  }
  .strategies__item {
    padding-top: 30px;
  }
  .bonus-page__table {
    margin-bottom: 40px;
  }
  .free-games-page__text {
    margin-bottom: 40px;
  }
  .free-games-page__list,
  .free-games-page__strategy {
    margin-bottom: 0;
  }
  .free-games-page__img {
    max-width: 50%;
    margin-bottom: 0; 
    margin-left: 0;
  }
  .guide__about {
    padding-top: 0;
  }
  .guide__logo {
    margin-bottom: 25px;
  }
  .guide__rating {
    -webkit-box-align: start;
    align-items: flex-start; 
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .guide__rating .rating-title {
    margin-bottom: 10px;
  }
  .guide__text-list,
  .text-block__list {
    padding-left: 15px;
  }
  .guide__text-list li:not(:last-child),
  .text-block__list li:not(:last-child) {
    margin-bottom: 10px;
  }
  .software-images__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 40px; 
    padding: 0;
  }
  .software-images__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    max-width: none;
  }
  .software-images__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .guide__text-list {
    line-height: 22px;
  }
  .article {
    padding: 0;
  }
  .article__main-img {
    max-width: 150px; 
    margin-top: 0;
  }
  .article__img {
    margin-left: 0;
  }
  .casino__button--big {
    width: 100%;
    max-width: 340px;
  }
  .casino-advantages {
    padding-right: 0; 
    padding-left: 0;
  }
  .casino-details__title {
    margin-bottom: 25px;
  }
  .casino__images {
    margin-right: 0;
  }
  .casino__logo {
    margin-bottom: 25px; 
    margin-left: 0;
  }
  .casino__content {
    padding-top: 0;
  }
  .bonus-table__logo {
    width: 80px;
    padding-right: 10px;
  }
  .bonus-table__logo img {
    max-width: 80px;
  }
  .bonus-table__bonus-size {
    font-size: 12px;
  }
  .bonus-table__bonus-size span {
    line-height: 1.25;
  }
  .bonus-table__link {
    padding-right: 10px;
    padding-left: 10px;
  }
  .bonus-table__button .button {
    font-size: 14px;
    padding: 5px 7px;
  }
  .bonus-page__table .bonus-table__button .button {
    width: auto;
  }
  .bonus-page__table .bonus-table__link {
    font-size: 12px;
    padding: 0 5px;
  }
  .bonus-page__table .bonus-table__free {
    font-size: 12px;
    white-space: nowrap;
  }
  .bonus-page__table .bonus-table__logo {
    padding-right: 0;
  }
  .bonus-value {
    display: block;
  }
  .game-page__frame {
    height: 200px;
  }
  .game-page__bonus-text {
    display: none;
  }
  .game-page__button {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .game-page__rating {
    -webkit-box-align: start;
    align-items: flex-start; 
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .game-page__rating .rating-title {
    margin-bottom: 5px;
  }
}
